<!--<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <a href="" class="mad-button"></a>
  <span>Typescript Chat</span>
</mat-toolbar>-->


<!--<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav>-->


<router-outlet></router-outlet>



<!--
<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>

        <ul class="nav navbar-nav">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-home"></span>
              Inicio
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
-->
